{% extends 'itsallagileBootstrapBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    {% stylesheets
        '@itsallagileScrumboardBundle/Resources/public/css/board.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="board-container">
        
    </div>
{% endblock %}


{% block endscript %}    
    <script src="/js/socket.io/socket.io.min.js"></script>
    <script>var WEB_SOCKET_SWF_LOCATION = '/js/socket.io/WebSocketMain.swf';</script>
    {{ parent() }}
    {% javascripts
        '@itsallagileScrumboardBundle/Resources/public/js/models/*.js'
        '@itsallagileScrumboardBundle/Resources/public/js/collections/*.js'
        '@itsallagileScrumboardBundle/Resources/public/js/views/*.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="/bundles/itsallagilescrumboard/js/controllers/scrumboard.js"></script>
    <!-- PrePopulate Data -->
    <script>
        {% autoescape false %}
        itsallagile.Controller.Scrumboard.board = new itsallagile.Model.Board({{ board|json_encode() }}, {parse:true});
        itsallagile.Controller.Scrumboard.statuses = new itsallagile.Collection.Statuses({{ statuses|json_encode()}});
        {% endautoescape %}
    </script>
    <script>
        jQuery(function($) {                
            itsallagile.Controller.Scrumboard.load();   
        });
    </script>

{% endblock %}

