{% extends 'itsallagileBootstrapBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    {% stylesheets
        '@itsallagileScrumboardBundle/Resources/public/css/board.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="board-container">
        <!--div id="boardTitle"><h1>{{ board.name }}</h1></div>
    <div id="board-{{ board.boardId}}" class="board">
        <div id="templates">

        </div>        
    </div-->
    </div>
{% endblock %}


{% block endscript %}
    <script src="/js/socket.io/socket.io.min.js"></script>
    <script>var WEB_SOCKET_SWF_LOCATION = '/js/socket.io/WebSocketMain.swf';</script>
    {{ parent() }}
    {% javascripts
        '@itsallagileScrumboardBundle/Resources/public/js/models/*.js'
        '@itsallagileScrumboardBundle/Resources/public/js/collections/*.js'
        '@itsallagileScrumboardBundle/Resources/public/js/views/*.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="/bundles/itsallagilescrumboard/js/controllers/scrumboard.js"></script>
    <script>
        jQuery(function($) {                
            itsallagile.Controller.Scrumboard.load({{ board.boardId }});   
        });
    </script>

{% endblock %}

